@media only screen and (min-width: 768px) {
  /* Header Section */
  .hidden {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .header-title {
    margin-left: 80px;
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;
    margin-right: 3.5rem;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .nav-links li a {
    text-decoration: none;
    color: #344563;
  }

  /* Portfolio-Homepage Section */

  .hero {
    padding-bottom: 80px;
    border-bottom-left-radius: 180px;
  }

  .hero-intro-container {
    width: 100%;
    min-height: 100vh;
    margin-top: 3rem;
    background-image: url("../Assets/Desktop-BG-Image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 10rem;
    padding-bottom: 70px;
  }

  .hero-container {
    width: 65%;
    margin-top: 6rem;
    margin-left: 260px;
  }

  .hero-intro-heading {
    width: 50%;
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
  }

  .hero-intro-description {
    width: 110%;
    font-size: 20px;
    line-height: 28px;
  }

  .hero-intro {
    background-image: none;
  }

  /* Work Section */

  .cards-container {
    padding: 0 100px;
    width: 100%;
  }

  .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .card-reverse {
    border-radius: 16px;
    background: #fff;
    border: 1px solid #dfe1e6;
    margin-top: 88px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
  }

  .card-img {
    width: 50%;
    height: auto;
    margin: 0;
    margin: 0 auto;
    margin-left: 24px;
    cursor: pointer;
  }

  .card-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    object-position: center;
  }

  .card-content {
    width: 48%;
  }

  .card-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    padding-bottom: 1.5rem;
    margin-bottom: 0;
  }

  .facebook-card {
    margin-left: 25px;
    padding-top: 40px;
  }

  .card-info {
    margin-top: 0;
    margin-bottom: 0;
  }

  .bold-info {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .info {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .card-para {
    margin-top: 0;
    margin-top: 32px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-bottom: 0;
  }

  .card-btn:hover {
    color: #6070ff;
    background-color: #fff;
    transition: 1s ease-in-out;
  }

  .card-btn:active {
    color: #fff;
    background-color: #2230d2;
    transition: 1s ease-in-out;
  }

  /* About Section */

  .about-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  .about-content {
    padding-top: 8rem;
    width: 90%;
  }

  .about-lang {
    width: 100%;
    margin-top: 7rem;
  }

  .about-icons {
    padding: 1.5rem 0;
  }

  .about-btn {
    border: 1px solid #396df2;
  }

  .lang-title {
    padding-left: 1rem;
  }

  .lang-title h3 {
    color: #344563;
  }

  .frame-title {
    color: #344563;
  }

  .skill-title {
    color: #344563;
  }

  .lang {
    display: flex;
    flex-direction: row;
    width: 75%;
    gap: 1rem;
    border-radius: 0.5rem;
  }

  .framework,
  .skill {
    padding-left: 1rem;
  }

  /* Footer Section */

  .footer-container {
    background-image: url("../Assets/contact\ form\ background\ Image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 8rem;
    min-height: 100vh;
  }

  .footer-info {
    width: 40%;
  }

  .footer-info .footer-title {
    padding-top: 6rem;
  }

  .contact-form {
    margin-top: 0;
    gap: 1.5rem;
  }

  .footer-info .footer-para {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
  }

  .user-name,
  .user-message,
  .user-email {
    cursor: pointer;
  }

  .form-btn {
    margin: 0 auto;
    width: 40%;
    margin-bottom: 2rem;
  }

  .work-tag-button-wrapper {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    justify-content: space-between;
  }
}

/* desktop popup-window */
.poppup-window {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 10, 30, 0.5);
  mix-blend-mode: multiply;
  left: 0;
  top: 0;
  z-index: 999999;
}

.window-wrapper {
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 90vw;
  height: 90vh;
  margin: 4%;
  background-color: white;
  z-index: 1;
  padding: 20px;
}

.clossing-project {
  float: right;
  margin-right: 2%;
  margin-top: 2%;
  cursor: pointer;
}

.popup-section {
  position: fixed;
  display: none;
}

.card-lang {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  list-style-type: none;
  margin: 12px 15px;
}

.tech-langs {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.work-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  color: #091e42;
  margin-left: 1%;
}

.work-tag-popup {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6b778c;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  list-style-type: none;
  gap: 12px;
  margin-bottom: 12px;
  margin-top: 6px;
}

.popup-image {
  width: 100%;
  height: 60%;
  object-fit: cover;
  margin: 20px auto;
}

.work-tag-button-wrapper {
  display: flex;
  margin: 20px auto;
  justify-content: space-between;
}

.work-description {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #344563;
  padding-right: 30px;
}

.work-tag-wrapper {
  width: 50%;
}

.see-container {
  display: flex;
  gap: 10px;
  margin: auto;
  border-top: 1px solid #ebecf0;
  padding-top: 15px;
}

.see-container span {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
}

.see-live {
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  width: 100%;
  height: 40px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 8px;
  color: #396df2;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
